body {
  background-color: white !important;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-color: rgb(234, 234, 234) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 120px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.landing-title {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 9999999;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: cocogoose, sans-serif;
  font-size: 3em;
  line-height: 100%;
  color: #fd412e;
  width: 70%;
  text-align: center;
}

.header-desctiption {
  background-color: white;
  margin-top: 70px;
  color: #272a31;
  border: 1px solid #d7d7d7;
  padding: 10px;
}

.contact-header {
  color: #272a31;
  margin-top: 50px;
}

.contact-header a {
  color: #272a31;
  text-decoration: underline;
  font-weight: bold;
}

.navbar {
  background-color: #eaeaea;
  font-family: 'Inter', sans-serif;
}

.about-logo {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo-main {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo-box {
  border: 1px solid #eaeaea;
  height: 150px;
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hr-long {
  width: 100%;
  border: 1px solid #eaeaea;
}

.past-img {
  max-width: 300px;
}

.past-posts {
  text-align: center;
  margin-bottom: 10%;
}

@media screen and (max-width: 992px) {
  .carousel-item {
    height: 800px;
  }

  .carousel-caption {
    bottom: 270px;
  }

  .carousel-inner {
    height: 800px;
  }

  .landing-title {
    width: 120%;
    font-size: 4em;
  }

  .partner-section {
    display: block;
    background-color: #272a31;
  }

  .footer {
    display: flex;
  }

  .past-posts div {
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background-color: white;
    font-family: 'Inter', sans-serif;
  }

  .footer-section div .logo-main {
    color: rgb(255 248 248);
  }

  .footer {
    background-color: #272a31;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
  }

  .partner-section {
    display: none;
  }
}
